[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
black = "==21.8b0"
flake8 = "*"
isort = "*"

[packages]
paramiko = "*"
azure-storage-blob = "*"
apscheduler = "*"
pylogrus = "*"

[requires]
python_version = "3.9"
